certifi==2024.8.30
charset-normalizer==3.3.2
clarifai==10.7.0
clarifai-grpc==10.7.3
contextlib2==21.6.0
googleapis-common-protos==1.65.0
grpcio==1.64.3
idna==3.8
inquirerpy==0.3.4
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
pfzy==0.3.4
pillow==10.4.0
prompt_toolkit==3.0.47
protobuf==5.28.0
Pygments==2.18.0
python-rapidjson==1.20
PyYAML==6.0.2
requests==2.32.3
rich==13.8.0
schema==0.7.5
tabulate==0.9.0
tqdm==4.66.5
tritonclient==2.49.0
urllib3==2.2.2
wcwidth==0.2.13
